<%= turbo_frame_tag "admin__#{ dom_id(ad_shape) }" do  %>
  <div class='row hg-row' data-id='<%= ad_shape.id %>' data-edit='false'>
  <%= render partial: 'admin/ad_shapes/show', locals: {
    ad_shape: ad_shape } %>
  </div>
<% end %>




