<%= turbo_frame_tag "admin__ad_shape-new" do %>
  <div>
    <%= link_to "New Ad Shape",  new_admin_ad_shape_path, disable_with: "Loading...", class: "new-ad_shape-button btn btn-primary pull-right  " %>
  </div>
<% end %>
