

<div class="container">
  <div class="row"> <div class="col-md-12">
  <%= render partial: "admin/nav", locals: {nav: "ad_shapes"} %></div> </div>
  

  <div class="row"> <div class="col-md-12">
  <%= render partial: 'admin/ad_shapes/list',
    locals: {ad_shapes: @ad_shapes  
  } %>
  </div> </div>
</div>
