<%= turbo_frame_tag "admin__account-new" do %>
  <div>
    <%= link_to "New Account",  new_admin_account_path, disable_with: "Loading...", class: "new-account-button btn btn-primary pull-right  " %>
  </div>
<% end %>
