<%= turbo_frame_tag "admin__ad_platform_size-new" do %>
  <div>
    <%= link_to "New Ad Platform Size",  new_admin_ad_platform_ad_platform_size_path(ad_platform), disable_with: "Loading...", class: "new-ad_platform_size-button btn btn-primary pull-right btn-sm " %>
  </div>
<% end %>
