<%= turbo_frame_tag "admin__account_user-new" do %>
  <div>
    <%= link_to "New Account User",  new_admin_account_account_user_path(account), disable_with: "Loading...", class: "new-account_user-button btn btn-primary pull-right btn-sm " %>
  </div>
<% end %>
