<%= turbo_frame_tag "admin__#{ dom_id(ai_key) }" do  %>
  <div class='row hg-row' data-id='<%= ai_key.id %>' data-edit='false'>
  <%= render partial: 'admin/ai_keys/show', locals: {
    ai_key: ai_key } %>
  </div>
<% end %>




