<%= turbo_frame_tag "admin__ai_keys-list"   do %>

  <div class="container ">
    
      <h4>
        AI KEYS
      </h4>
    

    
    
      <%= render partial: "admin/ai_keys/new_button", locals: {
     } %>
        <br />
    
    

    
      
        <div class="row hg-row ">
          <div class='col-sm-10 hg-heading-row heading--ai_key--ai_service_id--api_key-**name' >Ai service<br />-api key<br /></div>

          

          

          <div class=' scaffold-col-heading scaffold-col-heading-buttons col-sm-' >
          </div>
        </div>
      
      
      <% if ai_keys.empty? %>
    <div>
        None
    </div>
      <% end %>
      <% ai_keys.each do |ai_key| %>
        <%= render partial: 'admin/ai_keys/line', locals: {ai_key: ai_key,
       } %>
      <% end %>
      
    <%== @pagy.series_nav(:bootstrap) if @pagy && @pagy.pages > 1 %>
  


  
  </div>
<% end %>
