<%= turbo_frame_tag "admin__ai_key-new" do %>
  <div>
    <%= link_to "New Ai Key",  new_admin_ai_key_path, disable_with: "Loading...", class: "new-ai_key-button btn btn-primary pull-right  " %>
  </div>
<% end %>
