<%= tag.turbo_frame id: "admin__ad_shape_layout_rules-list" + ((('__' + nested_for) if defined?(nested_for)) || ""),
                    src: admin_ad_shape_ad_shape_layout_rules_path(ad_shape) + "?__lazy",
                    loading: "lazy" do %>

  <div class="text-muted">Loading ...</div>

<% end %>
