<%= turbo_frame_tag "admin__ad_shape_layout_rules-list" + ((('__' + nested_for) if defined?(nested_for)) || "")  do %>

  <div class="container ">

      <%= render partial: "admin/ad_shape_layout_rules/new_button", locals: {
    ad_shape: ad_shape } %>
        <br />

        <div class="row hg-row ">
          <div class='col-sm-1 hg-heading-row'>Role</div>
          <div class='col-sm-1 hg-heading-row'>Drop</div>
          <div class='col-sm-1 hg-heading-row'>X</div>
          <div class='col-sm-1 hg-heading-row'>Y</div>
          <div class='col-sm-1 hg-heading-row'>W</div>
          <div class='col-sm-1 hg-heading-row'>H</div>
          <div class='col-sm-1 hg-heading-row'>Font Scale</div>
          <div class='col-sm-1 hg-heading-row'>Align</div>
          <div class='col-sm-1 hg-heading-row'>Position</div>
          <div class='scaffold-col-heading scaffold-col-heading-buttons col-sm-2'></div>
        </div>

      <% if ad_shape_layout_rules.empty? %>
    <div>
        None
    </div>
      <% end %>
      <% ad_shape_layout_rules.each do |rule| %>
        <%= render partial: 'admin/ad_shape_layout_rules/line', locals: {ad_shape_layout_rule: rule,
      nested_for: nested_for, ad_shape: ad_shape } %>
      <% end %>

    <%== @pagy.series_nav(:bootstrap) if @pagy && @pagy.pages > 1 %>

  </div>
<% end %>
