<%= turbo_frame_tag "admin__ad_shape_layout_rule-new" do %>
  <div>
    <%= link_to "New Layout Rule",  new_admin_ad_shape_ad_shape_layout_rule_path(ad_shape), disable_with: "Loading...", class: "new-ad_shape_layout_rule-button btn btn-primary pull-right btn-sm " %>
  </div>
<% end %>
