
  <div class="container">
  <div class="row">
    <div class="col-md-12">

      <%= link_to "&#11013;&#65039; Back to shape".html_safe, edit_admin_ad_shape_path(@ad_shape) %>

<%= render partial: "edit", locals: {ad_shape_layout_rule: @ad_shape_layout_rule, ad_shape: @ad_shape}  %>

    </div>
  </div>
</div>
