

<div class="container">
  <div class="row"> <div class="col-md-12">
  <%= render partial: 'admin/ad_shape_layout_rules/list',
    locals: {ad_shape_layout_rules: @ad_shape_layout_rules, nested_for: "ad_shape-#{@ad_shape.id}", ad_shape: @ad_shape
  } %>
  </div> </div>
</div>
