<%= turbo_frame_tag "admin__ad_platform-new" do %>
  <div>
    <%= link_to "New Ad Platform",  new_admin_ad_platform_path, disable_with: "Loading...", class: "new-ad_platform-button btn btn-primary pull-right  " %>
  </div>
<% end %>
