
  <div class="row"> <div class="col-md-12">
    <%= render partial: "admin/nav", locals: {nav: "ad_platforms"} %></div> </div>

  <div class="container">
  <div class="row">
    <div class="col-md-12">

      
      <%= link_to "&#11013;&#65039; Back to list".html_safe, admin_ad_platforms_path %>
      

<%= render partial: "edit", locals: {ad_platform: @ad_platform}  %>

    </div>
  </div>
</div>


<div class="container" data-controller="bootstrap-tabbed-nav">
    <ul class="nav nav-tabs" id="ad_platform_downnest_portals" role="tablist">
      
        
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="ad_platform_sizes-tab" data-bs-toggle="tab" data-bs-target="#ad_platform_sizes-portal" type="button" role="tab" aria-controls="home" aria-selected="true">
            Ad Platform Sizes
          </button>
        </li>
      
    </ul>

    <div class="tab-content" id="myTabContent">
      
        
        <div class="tab-pane fade show active" id="ad_platform_sizes-portal" role="tabpanel" aria-labelledby="ad_platform_sizes-tab">

          
          
          
          
          

          <%= render partial: "admin/ad_platform_sizes/lazy_list", locals: {ad_platform: @ad_platform,  nested_for: "ad_platform-#{@ad_platform.id}"  } %>

        </div>
      
    </div>

</div>




