<%= turbo_frame_tag "admin__subscription_tier-new" do %>
  <div>
    <%= link_to "New Subscription Tier",  new_admin_subscription_tier_path, disable_with: "Loading...", class: "new-subscription_tier-button btn btn-primary pull-right  " %>
  </div>
<% end %>
