<%= turbo_frame_tag "admin__#{ dom_id(user) }" do  %>
  <div class='row hg-row' data-id='<%= user.id %>' data-edit='false'>
  <%= render partial: 'admin/users/show', locals: {
    user: user } %>
  </div>
<% end %>




